@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.footer {
  @media (max-width: 750px) {
    flex-direction: column;
    padding-top: 100px;
  }
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  padding: 300px 80px 200px;
  display: flex;
  justify-content: space-between;

  &__logo {
    font-size: 2rem;
    font-weight: lighter;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 4px;
  }

  &__paragraph {
    line-height: 1.5;
    max-width: 250px;
  }

  &__copyright {
    @media (max-width: 750px){
      margin-top: 20px;
    }
    margin-top: 80px;
    max-width: 320px;
    opacity: 0.5;
    line-height: 2;
  }

  &__artist {
    @include m.yellow-on-hover;

    color: white;
    transition: color 0.2s ease;
    text-decoration: none;
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.3);
  }

  &__right {
    display: flex;
  }

  &__list {
    @media (max-width: 750px) {
      margin: 40px 0;
    }
    list-style-type: none;
    margin: 0 40px;
    white-space: nowrap;
  }

  &__list:nth-of-type(2) {
    @media (max-width: 950px) {
      display: none;
    }
  }

  &__listItem:first-of-type {
    color: v.$yellow;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
  }

  &__listLink {
    @include m.yellow-on-hover;
    
    display: block;
    color:white;
    text-decoration: none;
    margin-bottom: 16px;
  }
}