@use '../abstracts/variables' as v;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sans Serif', Arial, sans-serif;
  // font-family: 'DM Serif Display', serif;
  height: 200vh;
  font-size: 16px;
  color: white;
  background-color: v.$bgDark;
}
